In [86]:
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv('data_test.csv')

property = {0: 'Aucun',
                1: 'HP',
                2: 'HP%',
                3: 'ATQ',
                4: 'ATQ%',
                5: 'DEF',
                6: 'DEF%',
                8: "SPD",
                9: 'CRIT',
                10: 'DCC',
                11: 'RES',
                12: 'ACC'}

for c in ['innate_type', 'first_sub', 'second_sub', 'third_sub', 'fourth_sub', 'main_type']:
        df[c] = df[c].map(property)
        
        
df['first_sub_value_total'] = (
            df['first_sub_value'] + df['first_sub_grinded_value'])
df['second_sub_value_total'] = (
            df['second_sub_value'] + df['second_sub_grinded_value'])
df['third_sub_value_total'] = (
            df['third_sub_value'] + df['third_sub_grinded_value'])
df['fourth_sub_value_total'] = (
            df['fourth_sub_value'] + df['fourth_sub_grinded_value'])

In [88]:
df_first = pd.pivot_table(df, index=['first_sub', 'rune_set'], values='first_sub_value_total', aggfunc=lambda x: x.nlargest(5).tolist()).reset_index()
df_second = pd.pivot_table(df, index=['second_sub', 'rune_set'], values='second_sub_value_total', aggfunc=lambda x: x.nlargest(5).tolist()).reset_index()
df_third = pd.pivot_table(df, index=['third_sub', 'rune_set'], values='third_sub_value_total', aggfunc=lambda x: x.nlargest(5).tolist()).reset_index()
df_fourth = pd.pivot_table(df, index=['fourth_sub', 'rune_set'], values='fourth_sub_value_total', aggfunc=lambda x: x.nlargest(5).tolist()).reset_index()

df_max = df_first.merge(df_second, left_on=['first_sub', 'rune_set'], right_on=['second_sub', 'rune_set'])
df_max = df_max.merge(df_third, left_on=['first_sub','rune_set'], right_on=['third_sub', 'rune_set'])
df_max = df_max.merge(df_fourth, left_on=['first_sub', 'rune_set'], right_on=['fourth_sub', 'rune_set'])


df_max.drop(['second_sub', 'third_sub', 'fourth_sub'], axis=1, inplace=True)

In [89]:
df_max['value'] = df_max[['first_sub_value_total', 'second_sub_value_total', 'third_sub_value_total', 'fourth_sub_value_total']].sum(axis=1)

In [101]:
# df_max['value_sorted'] = df_max['value'].apply(lambda liste: np.array(sorted(liste, reverse=True)[:5]).mean())

df_max['value_sorted'] = df_max['value'].apply(lambda x: np.partition(x, -4)[-5:])

In [99]:
df_max[df_max['rune_set'] == 'Violent']

,first_sub,rune_set,first_sub_value_total,second_sub_value_total,third_sub_value_total,fourth_sub_value_total,value,value_sorted
13,ACC,Violent,"[27, 21, 19, 16, 16]","[29, 20, 18, 18, 16]","[28, 26, 26, 21, 20]","[22, 21, 19, 18, 16]","[27, 21, 19, 16, 16, 29, 20, 18, 18, 16, 28, 2...","[26, 26, 27, 28, 29]"
18,ATQ,Violent,"[59, 58, 51, 46, 38]","[58, 50, 47, 41, 34]","[58, 45, 41, 39, 20]","[18, 18, 16, 12, 11]","[59, 58, 51, 46, 38, 58, 50, 47, 41, 34, 58, 4...","[50, 58, 58, 58, 59]"
34,ATQ%,Violent,"[37, 32, 30, 30, 27]","[36, 32, 31, 30, 29]","[39, 37, 30, 26, 26]","[38, 32, 28, 28, 26]","[37, 32, 30, 30, 27, 36, 32, 31, 30, 29, 39, 3...","[36, 37, 39, 38, 37]"
47,Aucun,Violent,"[0, 0, 0, 0]","[0, 0, 0, 0]","[0, 0, 0, 0]","[0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0]"
64,CRIT,Violent,"[26, 22, 22, 20, 20]","[26, 24, 19, 19, 17]","[25, 20, 18, 17, 16]","[20, 20, 17, 16, 10]","[26, 22, 22, 20, 20, 26, 24, 19, 19, 17, 25, 2...","[20, 24, 26, 25, 26]"
80,DCC,Violent,"[24, 20, 20, 18, 17]","[26, 24, 21, 18, 18]","[33, 26, 23, 20, 19]","[28, 23, 20, 18, 14]","[24, 20, 20, 18, 17, 26, 24, 21, 18, 18, 33, 2...","[24, 26, 26, 33, 28]"
85,DEF,Violent,"[56, 18, 17]","[80, 57, 55, 51, 46]","[66, 63, 57, 48, 44]","[61, 19, 17, 13, 11]","[56, 18, 17, 80, 57, 55, 51, 46, 66, 63, 57, 4...","[57, 61, 63, 80, 66]"
100,DEF%,Violent,"[34, 34, 29, 29, 26]","[41, 31, 26, 23, 22]","[30, 28, 25, 23, 23]","[34, 33, 27, 26, 25]","[34, 34, 29, 29, 26, 41, 31, 26, 23, 22, 30, 2...","[33, 34, 34, 41, 34]"
106,HP,Violent,"[1371, 867, 866, 860, 738]","[1259, 984, 756, 712, 545]","[1162, 981, 835, 389, 292]","[1049, 917, 803, 301, 215]","[1371, 867, 866, 860, 738, 1259, 984, 756, 712...","[984, 1049, 1162, 1259, 1371]"
123,HP%,Violent,"[40, 38, 36, 35, 31]","[37, 36, 30, 30, 27]","[35, 34, 33, 29, 28]","[40, 39, 37, 29, 28]","[40, 38, 36, 35, 31, 37, 36, 30, 30, 27, 35, 3...","[37, 38, 39, 40, 40]"
136,RES,Violent,"[24, 21, 18, 13, 13]","[20, 17, 14, 14, 11]","[21, 18, 16, 16, 15]","[20, 16, 15, 12, 11]","[24, 21, 18, 13, 13, 20, 17, 14, 14, 11, 21, 1...","[20, 20, 21, 21, 24]"
153,SPD,Violent,"[31, 30, 28, 28, 27]","[28, 28, 26, 26, 25]","[26, 26, 26, 25, 25]","[26, 25, 25, 23, 21]","[31, 30, 28, 28, 27, 28, 28, 26, 26, 25, 26, 2...","[26, 28, 28, 30, 31]"

In [ ]:
df_max['value_sorted'].values

array([  12. ,   20.2,   10.4,   13.8,   13.8,   18.8,   12.4,   15.6,
         14.8,   23. ,   14. ,   22.6,   13.2,   27.2,   24.6,   44.2,
         52.4,   53.8,   56.8,   47.4,   32.2,   31.4,   30. ,   28.6,
         21.4,   32.4,   25.8,   26.6,   29.6,   36. ,   29.4,   28.4,
         32.8,   32.6,   37.4,   37.4,    0. ,    0. ,    0. ,    0. ,
          0. ,    0. ,    0. ,    0. ,    0. ,    0. ,    0. ,    0. ,
          0. ,   21.2,   19. ,   18.6,   11.2,   13.4,   19.4,   11.8,
         10.8,   17. ,   14.4,   17. ,   12.4,   18. ,   19.8,   18.4,
         24.6,   20.8,   21. ,   19.6,   21.8,   11.8,   14.8,   20.4,
         18.2,   14.2,   16.8,   22. ,   17.4,   12.8,   24.2,   18.6,
         27.4,   22. ,   43. ,   32. ,   56.2,   65.4,   53.4,   30.6,
         30.2,   30.4,   21.8,   26.4,   18.4,   24.6,   33.6,   28.8,
         30.4,   27.4,   29.4,   30.4,   35.2,   36.2,  607.4,  792. ,
        877.4, 1029.4, 1165. ,  995. ,   25.4,   30. ,   34.6,   35.4,
         33.6,   20.6,   28. ,   29. ,   31.8,   30. ,   27.8,   33. ,
         29.4,   37.6,   31.4,   38.8,   37.4,   14.6,   16.2,   13.2,
         14.6,   11.6,   15. ,   19. ,   15.2,   10.2,   18.2,   17. ,
         21.2,   19.4,   25.2,   25.8,   26.4,   26.2,   24.4,   26.4,
         17.4,   26. ,   27.6,   26.4,   27.4,   26.6,   27.6,   29.4,
         26.8,   29. ,   26.6])